@font-face {
	font-family: 'Coco-Gothic';
	src: 
		local('Coco Gothic'),
		local('Coco-Gothic'),
		url('Coco-Gothic-Bold-trial.ttf')
		format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Coco-Gothic';
	src: 
		local('Coco Gothic'),
		local('Coco-Gothic'),
		url('Coco-Gothic-Heavy-Italic-trial.ttf')
		format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'WorkSans';
	src: 
		local('WorkSans'),
		url('WorkSans-Regular.ttf')
		format('truetype');
}

body {
}

#navbar {
	background-color: #76bbc2;
	color: white;
}

#navbar-logo {
	width: 70px;
}

.nav-item {
	margin: 0 20px;
}

.nav-link {
	color: white;
	font-family: Coco-Gothic;
	font-weight: bold;
	font-size: 8pt;
	transition-property: color;
	transition-duration: 0.4s;
}

.nav-link:hover {
	color: #ffbf51;
}

.section {
	background-color: white;
	height: 100vh;
	font-family: 'WorkSans';
	font-size: 10pt;
}

#first-section {
	background-color: #76bbc2;
	height: 100vh;
	padding: 12% 0 0 80px;
	color: white;

}

#first-section-text {
	width: 50%;
}

#first-section-title {
	font-size: 45pt;
	font-weight: bold;
	font-style: italic;
	font-family: 'Coco-Gothic';
}

#first-section-desc {
	margin-bottom: 13px;
}

#first-section-more {
	margin-bottom: 13px;
}

#first-section-more a {
	color: white;
	font-style: italic;
}

#first-donate-button {
	background-color: #ffbf51;
	font-family: 'Coco-Gothic';
	font-weight: bold;
	font-size: 13pt;
	color: #393939;
	padding: 5px 30px;
	border-radius: 10px;
	border: none;
	box-shadow: 0 3px 5px 1px rgb(110, 157, 163);
	transition-property: box-shadow;
	transition-duration: 0.6s;
}

#first-donate-button:hover {
	box-shadow: none;
}